@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
    margin-top: -100px !important;
    margin-bottom: -50px;
}

@media screen and (max-width: 768px){
    .swiper-slide {
        margin-top: 10px !important;
        margin-bottom: 0px;
    }
}